<h1 style = "text-align: center; margin-top: 50px; margin-bottom: 50px;">Apply for the job opening</h1>

<%= render "form", job_application: @job_application %>

<br>

<div style = "text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 13px;
    text-transform: uppercase;
    border-radius: 6px;
    background-color: aliceblue;
    text-decoration: none;" >
  <%= link_to "Back to job openings", job_openings_path %>
</div>
