<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

<div class="landing_top">
    <div class="landing_top_left">
          <h1>Find your dream job</h1>
          <p>Lorem ipsum dolor sit amet. At rerum neque sit facilis enim et minus sint qui sunt voluptatem? Qui quod labore sit dicta tempora rem pariatur rerum hic consequatur facere et doloribus corrupti.<br/>
          Et quidem tempore est voluptates beatae sed veritatis impedit ut labore sequi aut beatae dolor et similique delectus sed repellendus praesentium! Ut sapiente necessitatibus sed dolor necessitatibus qui optio incidunt non placeat iure ut perspiciatis error!<br/>
          At rerum doloremque nam commodi quia qui saepe consectetur non ducimus eaque et suscipit voluptatibus rem nisi excepturi vel dolorem saepe. Est nesciunt voluptatum aut porro laboriosam a consequatur optio a ullam tempore qui aliquid officiis!</p>
      </div>
      <%# Add landing.png here %>
    <%= image_tag("landing.png") %>
</div>
