/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 nav{
    display: flex;
    column-gap: 100px;
    justify-content: end;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-right: 90px;
    font-family: monospace;
    font-size: 20px;
    background-color: lightblue;
 }

 a{
    text-decoration: none;
 }

 .landing_top{
    display: flex;
 }
 .landing-top-left{
    display: flex;
 }
 .signin{
   background-color: cornsilk;
   padding: 8px;
   border-radius: 10px;
 }
 .landing_top_left h1{
   font-family: math;
    display: flex;
    justify-content: center;
    margin-top: 90px;
 }
 .landing_top_left p{
   display: flex;
    line-height: 28px;
    text-align: center;
    font-family: monospace;
    color: darkcyan;
    font-size: 16px;
    padding-left: 44px;
 }

 form{
   display: flex;
   flex-direction: column;
   align-items: center;
   box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
   width: fit-content;
   margin-left: auto;
   margin-right: auto;
   padding: 28px;
   border-radius: 8px;
   display: flex;
   row-gap: 19px;
 }

 form h2{
   font-family: math;
   font-size: 30px;
   margin-bottom: 20px;
 }

 form .field{
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .imgcard{
   display: flex;
   flex-direction: column;
   align-items: center;
   box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
   padding: 10px;
   border-radius: 11px;
 }

 .imgcard_heading{
   font-family: math;
    font-weight: 900;
    font-size: 22px;
    margin-top: 0px;
 }

 .imgcard_text{
   font-family: monospace;
   margin-top: 0px;
   color: gray;
 }