<h1>Editing job opening</h1>

<%= render "form", job_opening: @job_opening %>

<br>

<div>
  <%= link_to "Show this job opening", @job_opening %> |
  <%= link_to "Back to job openings", job_openings_path %>
</div>
